

.fileUploadContainer{
	display: flex;
	flex-direction: row;

}

.formFalseFileInput{
	background: #242424;
	color:#d8d8d8;
	height:50px;
	margin:5px;
	padding: 0px 10px;
	display: flex;
	flex:1.5;
	align-items: center;
}

.uploadImageButton{
	width:200px;
	background: #242424;
	color:#d8d8d8;
	height:50px;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}



.uploadImageContainer{
	border: 1px solid #787878;
	border-bottom: none;
	margin-top:50px;
	height:200px;
	width:200px;
	background-position: center;
	background-size: cover;
}