

.fileUploadContainer{
	display: flex;
	flex-direction: row;

}

.formFalseFileInput{
	background: #1F3134;
	color:#d8d8d8;
	height:50px;
	margin:5px;
	padding: 0px 10px;
	display: flex;
	flex:1.5;
	align-items: center;
}

.uploadImageButton{
	position: relative;
	width:220px;
	background: #242424;
	color:#d8d8d8;
	height:50px;
		font-family: 'Open Sans', sans-serif;
	letter-spacing: 1.71px;
	display: flex;
	justify-content: center;
	align-items: center;
}



.uploadImageContainer{
	border: 1px solid #787878;
	border-bottom: none;
	margin-top:50px;
	height:220px;
	width:220px;
	background-position: center;
	background-size: cover;
}


.imageUploadingContainer{
	width:100%;
	height:100%;
	position: absolute;
	z-index: 1;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-left:5px;
	background: #1F3134;
	color:#fff;
}

.imageeUploadingContainer p{
	margin:0;
	padding:0;
}

.imageUploadSpinner{
	height:50px;
	width:auto;
}