.adminMenuContainer{
	width:100%;
	font-size: 20px;
	height:100vh;
	background:#1F3134;
}

.adminMenuContainer img{
	padding:20px 20px 0 20px;
}

.adminMenuContainer h3{
	color:white;
	margin:0;
	padding: 20px;
}

.adminMenuHeader p{
	color: white;
	font-size: 12px;
	padding:0px 20px 0px 20px;
	opacity:0.5;
	font-weight:light;
}
.adminMenuHeader img{
	margin-bottom: -5px;
}

