.adminMenuContainer{
	width:100%;
	font-size: 20px;
	height:100vh;
	background:#1F3134;
}

.adminMenuContainer img{
	padding:20px 20px 0 20px;
}

.adminMenuContainer h3{
	color:white;
	margin:0;
	padding: 20px;
}

.adminMenuHeader p{
	padding:0px 20px 0px 20px;
	opacity:0.5;

		font-size: 12px;
	color: #FFFFFF;
    font-weight: 600;
	letter-spacing: 1.71px;
	text-transform: uppercase;
	line-height: 50px;
}
.adminMenuHeader img{
	margin-bottom: -5px;
}

