.formButton{
	height:50px;
	display: flex;
	flex:1;
	max-width: 200px;
	padding: 0 20px;
	align-items: center;
	justify-content: center;
	line-height:50px;
	color:white;
	margin:5px 5px 5px 5px;
	cursor: pointer;
}

#formButtonsContainer{
	width:100%;
	margin-top:50px;
	display: flex;
	align-items: flex-end;
	flex-direction: row;
	justify-content: flex-end;
	flex:1;
}

#deleteButton{
	color:#242424;
}
#submitButton{
	background: #242424;
}

.formContainer{
	display: flex;
	flex-direction: column;
	flex:1;
}


.rowContainer{
	display: flex;
	flex-direction: row;

}

.formHeader{
	font-size: 12px;
	margin-left:5px;
}
label{
	margin: 20px 0px 10px;
}
