.adminMenuButtonContainer{
	width:100%;
	height:70px;
	display: flex;
	flex:1;
	align-items: center;
	padding-left: 20px;
	cursor: pointer;
	transition:all 0.5s ease;
}

.adminMenuButtonContainer p{
	color:white;
	font-size: 12px;
}
.adminMenuButtonContainer.active{
	background:#1B2C2F;
}
